<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnAppADay.RSSTTS.WinApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AnAppADay.RSSTTS.WinApp.Properties.Settings>
            <setting name="ActiveDuringTimes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeFrom" serializeAs="String">
                <value>06:00</value>
            </setting>
            <setting name="TimeTo" serializeAs="String">
                <value>07:00</value>
            </setting>
            <setting name="Feeds" serializeAs="String">
                <value />
            </setting>
            <setting name="PollRate" serializeAs="String">
                <value>10</value>
            </setting>
        </AnAppADay.RSSTTS.WinApp.Properties.Settings>
    </userSettings>
</configuration>