<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Torian.Magnifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Torian.Magnifier.Properties.Settings>
            <setting name="RefreshOnMouseMove" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RefreshThreadOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BringToFrontThreadOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RefreshOnMouseMoveRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FollowTyping" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RefreshRate" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="BringToFrontRate" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="RefreshOverInvalidate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>400, 400</value>
            </setting>
            <setting name="ZoomAmount" serializeAs="String">
                <value>2.5</value>
            </setting>
        </Torian.Magnifier.Properties.Settings>
    </userSettings>
</configuration>